version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/friendly-city-print-shop"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "all"
    labels:
      - "deps"
